:root {
  font-family: Helvetica, sans-serif;
}

main {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 1rem;
}

main > * + * {
  margin-top: 4rem;
}

article > * + * {
  margin-top: 2rem;
}

h2 {
  font-family: "Inter";
  font-size: 2rem;
}

.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
}

.with-sidebar > * > * {
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - 1rem);
}

form {
  border: 3px solid;
  padding: 2rem;
}

form > * + * {
  margin-top: 2rem;
}

.inputs {
  display: grid;
  grid-template-columns: auto 9ch;
  grid-gap: 1rem;
  justify-content: start;
  align-items: center;
}

label {
  text-align: right;
}

input[type="text"] {
  border: 2px solid;
  padding: 0.25rem 0.5rem;
  box-shadow: inset 0.15rem 0.15rem 0 #ddd;
}

button {
  font-family: "Inter";
  border: none;
  background: black;
  color: white;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
}

.triangle {
  display: grid;
  place-items: center;
  background: black;
  color: white;
  padding: 2rem;
}

.triangle > * + * {
  margin-top: 1rem;
}

svg {
  font-size: 0.65rem;
  font-weight: bold;
}
svg text {
  fill: currentColor;
}

#slide-CB {
  display: none;
  width: 100%;
}
#slide-CB.show {
  display: block;
}

.stairs-svg {
  font-size: 0.5rem;
}

#stairs-result {
  font-weight: bold;
  width: 100%;
  display: none;
}

#stairs-result > * + * {
  margin-top: 0.75rem;
}

#stairs-result.show {
  display: block;
}
#slide-stairs-count {
  width: 100%;
}
